@import '../../variables.scss';

.navbar-block {
    padding: .05em 1em;
    color: #fff;
    border: 5px solid #fff;
    width: 150px;
    background-color: $gray-bg;
    box-shadow: 3px 3px 3px rgb(213, 198, 198);
    p {
        margin-bottom: 0;
        padding: 1em;
        text-align: center;
        text-decoration: none;
    }
    a {
        text-decoration: none;

    }
}
